* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    scroll-behavior: smooth;
  }

  body{
    background-color: black;
  }

  header{
	position: relative;
	height: auto;
	min-height: 150px;
	width: auto;
	text-align: center;
    padding-bottom: 2rem;
}
  
h1{
    text-align: center;
    color: white;
    padding-bottom: 4rem;
    font-size: 4rem;
    margin-top: 2rem;
  }

  .navbar {
    background: transparent;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
  }
  
  .navcontainer {
    display: flex;
    justify-content: space-between;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 5px;
  }
  
  #logo {
    background-color: #ff8177;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
  }
  
  .navmenu {
    display: flex;
    align-items: center;
    list-style: none;
  }
  
  .navitem {
    height: 80px;
  }
  
  .navlink {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    text-decoration: none;
    height: 100%;
    transition: all 0.3s ease;
  }
  
  .navlink:hover {
    color: #9518fc;
    transition: all 0.3s ease;
  }
  
  @media screen and (max-width: 960px) {
    .navcontainer {
      display: flex;
      justify-content: space-between;
      height: 80px;
      z-index: 1;
      width: 100%;
      max-width: 1300px;
      padding: 0;
    }
  
    .navmenu {
      display: grid;
      grid-template-columns: auto;
      margin: 0;
      width: 100%;
      position: absolute;
      top: -1000px;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: -1;
    }
  
    .navmenu.active {
      background: #131313;
      top: 100%;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 99;
      height: 60vh;
      font-size: 1.6rem;
    }
  
    #logo {
      padding-left: 25px;
    }
  
    .navtoggle .bar {
      width: 25px;
      height: 3px;
      margin: 5px auto;
      transition: all 0.3s ease-in-out;
      background: #fff;
    }
  
    .navitem {
      width: 100%;
    }
  
    .navlink {
      text-align: center;
      padding: 2rem;
      width: 100%;
      display: table;
    }
  
    #menu {
      position: absolute;
      top: 20%;
      right: 5%;
      transform: translate(5%, 20%);
    }
  
    .navtoggle .bar {
      display: block;
      cursor: pointer;
    }
  
    #menu.is-active .bar:nth-child(2) {
      opacity: 0;
    }
  
    #-menu.is-active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
  
    #menu.is-active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  }

  .container{
    margin-right: 120px;
    margin-top: 50px;
    padding-bottom: 70px;
  }

  .head{
    color: white;
    text-align: right;
}

.caphead{
    color: white;
    text-align: right;

}

@media (max-width: 660px){

    .container{
        margin-right: 0px;
        margin-top: 150px;
        padding-bottom: 20px;
      }

    .head{
        color: white;
        text-align: center;
    }

    .caphead{
        color: white;
        text-align: center;
        padding-bottom: 200px;
    }
}

@media (max-width: 900px){

    .container{
        margin-right: 0px;
        margin-top: 150px;
        padding-bottom: 20px;
      }

    .head{
        color: white;
        text-align: center;
    }

    .caphead{
        color: white;
        text-align: center;
        padding-bottom: 200px;
    }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

.about {
    padding-top: 100px;
  }
  
  .heading{
    text-align: center;
    color: white;
    padding-bottom: 4rem;
    font-size: 4rem;
  }
  
  .about .row{
    display: flex;
    align-items: center;
    background: var(--black);
    flex-wrap: wrap;
  }
  
  .about .row .image{
    flex: 1 1 35rem;
    padding-left: 130px;
  }
  
  .about .row .image img{
    width: 70%;
  }
  
  .about .row .content{
    flex: 1 1 35rem;
    padding: 1rem;
  }
  
  .about .row .content h3{
    font-size: 3rem;
    color: white;
  }
  
  .about .row .content p{
    font-size: 1.6rem;
    color: #ccc;
    padding: 1rem 0;
    line-height: 1.8;
  }