* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Kumbh Sans', sans-serif;
  scroll-behavior: smooth;
}

body{
  background-color: black;
}

header{
position: relative;
height: auto;
min-height: 300px;
width: auto;
text-align: center;
}

.navbar {
  background: transparent;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
  transition: all 0.5s ease;
}

.navcontainer {
  display: flex;
  justify-content: space-between;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 5px;
}

#logo {
  color: white;
  text-shadow:
      3px 3px 0 #000,
    -1px -1px 0 #000,  
     1px -1px 0 #000,
     -1px 1px 0 #000,
      1px 1px 0 #000;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2.5rem;
}

.navmenu {
  display: flex;
  align-items: center;
  list-style: none;
}

.navitem {
  height: 80px;
}

.navlink {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  text-decoration: none;
  height: 100%;
  transition: all 0.3s ease;
}

.navlink:hover {
  color: #867c61;
  text-shadow:
  1px 1px 0 #000,
1px 1px 0 #000,  
 1px -1px 0 #000,
 1px 1px 0 #000,
  1px 1px 0 #000;
  transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
  .navcontainer {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }

  .navmenu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: -1;
  }

  .navmenu.active {
    background: #131313;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 60vh;
    font-size: 1.6rem;
  }

  #logo {
    padding-left: 25px;
  }

  .navtoggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #fff;
  }

  .navitem {
    width: 100%;
  }

  .navlink {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  #menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .navtoggle .bar {
    display: block;
    cursor: pointer;
  }

  #menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

.container{
  margin-right: 120px;
  margin-top: 50px;
  padding-bottom: 70px;
}

.head{
  color: white;
  text-align: right;
}

.caphead{
  color: white;
  text-align: right;

}

@media (max-width: 660px){

  .container{
      margin-right: 0px;
      margin-top: 150px;
      padding-bottom: 20px;
    }

  .head{
      color: white;
      text-align: center;
  }

  .caphead{
      color: white;
      text-align: center;
      padding-bottom: 200px;
  }
}

@media (max-width: 900px){

  .container{
      margin-right: 0px;
      margin-top: 150px;
      padding-bottom: 20px;
    }

  .head{
      color: white;
      text-align: center;
  }

  .caphead{
      color: white;
      text-align: center;
      padding-bottom: 200px;
  }
}

.sticky {
position: fixed;
top: 0;
width: 100%;
background-color: rgba(28, 26, 26, .8);
box-shadow: 0 1px 2px rgba(255, 255, 255, 0.4);
}

.sticky + .content {
padding-top: 60px;
}

.places .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr)) ;
  gap: 1.5rem;
}

.places .box-container .box{
  padding: 5rem;
  text-align: center;
  border: var(--border);
}

.places .box-container .box .icons a{
  padding: 1.7rem;
  line-height: 2rem;
  font-size: 2rem;
  border: var(--border);
  color: white;
  margin: .1rem;
  text-decoration: none;
  transition: transform .8s ease-in-out;
}

.places .box-container .box .icons a:hover{
  transform: rotate(360deg);
}

.places .box-container .box img{
  height: 20rem;
  border-radius: 8%;
}

.places .box-container .box h3{
  color: white;
  font-size: 2.5rem;
  padding: 1rem 0;
}

.places .box-container .box .loc{
  color: white;
  font-size: 1.5rem;
  padding: .1rem 0;
}

.places .box-container .box:hover{
  background-color: rgba(28, 26, 26, .8);
  box-shadow: 0 2px 10px 0 rgba(255,255,255,0.24),0 10px 10px 0 rgba(255,255,255,0.19);
}

.btn{
  margin-top: 1rem;
  display: inline-block;
  padding: .9rem 3rem;
  font-size: 1.7rem;
  color: white;
  background: #AF733C;
  cursor: pointer;
  text-decoration: none;
}

.btn:hover{
  letter-spacing: .1rem;
}

.placeImg{
  width: 200px;
}

.popup{
  width: 400px;
  background: white;
  border-radius: 6px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  color: yellow;
  visibility: hidden;
}

.popup .locpup{
  color: black;
  font-size: 1.5rem;
  padding: .1rem 0;
}

.popup .headpop{
  color: black;
  font-size: 2.5rem;
  padding: 1rem 0;
}

.open-popup{
  visibility: visible;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
}